body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
}

.container {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1f1f1f;
    border: 1px solid #ff5500;
    border-radius: 10px;
    text-align: center;
}

form{
    width: 95%;
}

h1 {
    font-size: 24px;
    color: #ff5500;
    text-align: center;
}

.form-group {
    margin: 10px 0;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ff5500;
    border-radius: 5px;
    background-color: #2f2f2f;
    color: #fff;
    font-size: 16px;
    margin-bottom: 1em;
}

button {
    background-color: #ff5500;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff3300;
}

/* Input Radio */


.radio-group {
    margin: 10px 0;
    text-align: left;
}

.halloween-radio {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
    color: #fff;
}

.halloween-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.halloween-radio:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #ff5500;
    border-radius: 50%;
}

.halloween-radio:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    background: #ff5500;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0);
    transition: all 0.2s;
}

.halloween-radio input:checked + .halloween-radio:before {
    background-color: #ff5500;
    border: 2px solid #ff5500;
}

.halloween-radio input:checked + .halloween-radio:after {
    opacity: 1;
    transform: scale(1);
}

/* Input Checked */

